# -----------------------------------
# Local Development
# -----------------------------------
PORT=3000
MONGO_URI=mongodb://localhost:27017/english_center
NODE_ENV=development

# -----------------------------------
# Production (Railway)
# -----------------------------------
# PORT=           ← Railway tự set, không cần khai
# MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/english_center
# NODE_ENV=production
